body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/* Shared Styles */
.link-button {
    text-decoration: none;
    background-color: tomato;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 16px;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid #DADADA;
    outline: none;
}

.flexible-section {
    width: 80%;
    margin: 50px auto;
}

.section-heading {
    text-align: center;
    color: #121212;
    font-size: 45px;
    font-weight: 700;
}

/* Banner Styles */
.banner-section {
    background-image: url(images/donation11.jpg);
    background-size: cover;
    /* background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%); */
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title {
    color: white;
    font-size: 65px;
}

/* Donation Styles */
.donation-amount {
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
}

.amount-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070;
    font-weight: 700;
    font-size: 30px;
    margin: 10px;
    background-color: #FAFAFA;
    Width: 135px;
    Height: 123px
}

/* Donation Plan Styles */
.plan-main {
    display: flex;
    justify-content: space-between;
}

.plan-items {
    background-color: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

/* Form Styles */
.input-field {
    width: 809px;
    height: 200px;
    background-color: #FFF4D6;
}

.updated-input {
    width: 80%;
    margin: 50px 50px;
}

.join-form {
    width: 70%;
    margin: 0 auto;

}

.join-button {
    display: flex;
    justify-content: center;
}

/* Footer Styles */
footer {
    background-color: #0B0D17;
    height: 177px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h1 {
    color: tomato;
}

footer p {
    color: white;
}